/* mobile-view */
@media screen and (max-width:576px) {
       .nav-bar{
        flex-direction: column;
       }
       
       .nav-menus{
        flex-direction: column;
       }
       .banner-container{
          flex-direction: column-reverse;
          gap:40px;
       }

       .gamer-container{
              flex-direction:column;
              gap:40px;
              width:100%;
              padding:0;
       }
       .gamer-img{
              width:100%;
              height:100%;
              object-fit: cover;
          }
          .gamer-text{
              text-align:center;
          }
}





/* tablet-view */
@media screen and (min-width:577px) and (max-width:768px) {
    .nav-bar{
        flex-direction: column;
       }
       .banner-container{
              flex-direction: column;
              gap:50px;
           }

           .gamer-container{
              flex-direction:column-reverse;
              gap:40px;
              width:100%;
              padding:0;
       }

}